version: 2.0

jobs:
  test:
    docker:
      - image: markhobson/maven-chrome:jdk-15
    services:
      - selenium/standalone-chrome
    steps:
      - mvn test $MAVEN_PASS $MAVEN_OPTS=selenium__standalone-chrome


workflows:
  version: 2

  build-then-test:
    jobs:
      - test