version: 2.0

jobs:
  test:
    docker:
      - image: markhobson/maven-chrome:jdk-15
      - image: selenium/standalone-chrome:3.11.0
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: install selenium-hub
          command: docker run -d --rm -p 4444:4444 --net grid --name selenium-hub selenium/hub:3.11.0
          
      - run:
          name: install selenium-node
          command: docker run -d --rm --net grid -e HUB_HOST=selenium-hub -v /dev/shm:/dev/shm selenium/node-chrome:3.11.0
      
      - run: mvn test



workflows:
  version: 2

  test:
    jobs:
      - test