version: 2.0

jobs:
  test:
    docker:
      - image: markhobson/maven-chrome:jdk-15
    steps:
      - checkout
      - run: mkdir test-reports
      - run:
          name: Download Selenium
          command: |
            curl -O http://selenium-release.storage.googleapis.com/3.5/selenium-server-standalone-3.5.3.jar
      - run:
          name: Start Selenium
          command: |
            java -jar selenium-server-standalone-3.5.3.jar -log test-reports/selenium.log
          background: true
      - run: mvn test



workflows:
  version: 2

  test:
    jobs:
      - test