version: 2.0

jobs:
  test:
    docker:
      - image: markhobson/maven-chrome:jdk-15
    steps:
      - checkout
      - run: mvn test



workflows:
  version: 2

  build-then-test:
    jobs:
      - test